<footer>
    <div class="container">
        <hr class="featured-divider" />
        <p class="pull-right">
            <a href="#">برو بالا</a>
        </p>
        <p>&copy; @DateTime.Today.Year ای‌فوتو. &middot; @Html.ActionLink("درباره ما", T4Routes.Home.About()) &middot; @Html.ActionLink("تماس با ما", T4Routes.Home.Contact())</p>
    </div>
</footer>