@{
    ViewBag.Title = "ای‌فوتو - درباره ما";
}

<div class="plain-container">
    <h1 class="title">درباره ما</h1>
    <p>
        عكاسی از ظریف ترین و زیباترین جلوه های هنری قرن اخیر است. عكس حافظ جذاب ترین خاطره ها و بهترین نمایشگر لحظات تلخ و شیرین ما است.
    </p>
    <p>
        عكاسی كه روزگاری حرفه ای سخت و دشوار به شمار می رفت ؛ امروزه در تمام شئون
        زندگی ما راه یافته است. من و شما بارها در برابر دوربین عكاسی قرار گرفته ایم و به دفعات از دیدن عكس های دوستان و تصاویر بدیع و دلپذیر طبیعت
        خاطرات لذتبخش و قابل تكرار گذشته را در دل زنده ساخته ایم. گاهی با دیدن یك عكس لبخندی بر لبانمان نشسته و گاهی قطره اشكی بر صورتمان غلطیده است.
    </p>
    <p>
        از آن روزها كه عكاسی، حرفه ای پر دردسر و منحصر به عده خاصی بود چندان دور نیستیم
        زیرا از اختراع عكاسی و گرفتن اولین عكس بیش از 160 سال نمی گذرد اما امروزه به سبب ساده شدن عكسبرداری بر تعداد علاقه مندان به عكس افزوده شده است.
    </p>
    <p>
        شكی نیست هر صاحب دوربینی دوست دارد از این جعبه جادویی تصاویری زیبا
        بیرون آورده و از آن به بهترین شكل نگهداری نماید و به اشتراك دیگران بگذارد تا دوستان خود را نیز در لذت بردن از این سرگرمی هنری شریك نماید.
    </p>
    <p>
        ما سایت اختصاصی عكس ای‌فوتو را برای همین هدف طراحی نموده ایم.
    </p>
    <p>
        شما می توانید در ای‌فوتو یك پروفایل اختصاصی داشته
        باشید و تصاویر خود را چه متعلق به شما باشد و چه نباشد "البته با رعایت قانون كپی رایت" میان دوستانتان و بازدیدكنندگان به اشتراك بگذارید.
    </p>
    <ul>
        <li>
            سایت ای‌فوتو نیز مشمول قوانین جاری کشور می باشد لذا
            از کاربران گرامی خواهشمندیم تا نسبت به رعایت قوانین مذکور اقدام نمایند در غیر این صورت مسئولیتهای مربوطه مستقیماً متوجه ایشان خواهد بود.
        </li>
        <li>
            رعایت شئونات اسلامی، اخلاقی و ملی در تصاویر به اشتراک گذاشته از اهمیت خاصی برخوردار است و عدم توجه به آن موجب حذف تصاویر مربوطه خواهد شد.
        </li>
        <li>
            به اشتراک گذاری تصاویر که مغایر با قوانین و مقررات جاری کشور و مصداق توهین به نظام، شخصیت های مذهبی، کشوری
            و لشگری می باشد ممنوع است. با توجه به کنترل کلیه تصاویر به اشتراک گذاشته شده چنانچه تصویری شامل موارد فوق باشد، از سایت حذف خواهد شد.
        </li>
    </ul>
</div>