@{
    ViewBag.Title = "ای‌فوتو - تماس با ما";
}

<div class="plain-container">
    <h1 class="title">تماس با ما</h1>
    <p>
        با ارسال ایمیل به بخش مورد نظر خود می توانید با ای‌فوتو در تماس باشید.
    </p>
    <ul>
        <li>واحد پشتیبانی ای‌فوتو: support[at]ephoto.net</li>
        <li>درخواست همکاری با ای‌فوتو: jobs[at]ephoto.net</li>
    </ul>
</div>